.features {
  padding: 30px 0 30px 0;
  .tab-list {
    @include flex(space-between, center, column);
    @include largeScreen() {
      margin: 0 auto;
      width: 70%;
      @include flex(center, center, row);
    }
    button {
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 25px;
      border-radius: 0;
      color: $GrayishBlue;
      border-bottom: 3px solid $GrayishBlue;
      font-size: size(pSize);
      font-weight: weight(lightWeight);
      transition: 0.3s;
      position: relative;
      &.active {
        color: $VeryDarkBlue;
        border-bottom: 3px solid $SoftRed;
      }
    }
  }
  .tab {
    height: 400px;
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: $mainTransition;
    flex-direction: column;
    @include largeScreen() {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .img {
      margin: 0 auto 20px;
      @include largeScreen() {
        width: 100%;
      }
    }
    .text {
      text-align: center;
      @include largeScreen() {
        text-align: left;
      }
      h1 {
        color: $VeryDarkBlue;
        font-size: size(hSize);
        font-weight: weight(regulerWeight);
        margin: 0 0 10px 0;
      }
      p {
        color: $GrayishBlue;
        font-size: size(pSize);
        font-weight: weight(lightWeight);
        margin: 0 0 10px 0;
      }
      button {
        display: none;
      }
    }
  }
}
